@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fade-in {
    animation: fadeIn cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s forwards;
  }
  .animate-fade-out {
    animation: fadeOut cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s forwards;
  }
}

@keyframes fadeIn {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
