@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .overlay {
    position: fixed;
    inset: 0;

    opacity: 0.1;
    width: 100%;

    background-image: url(/noise.png);
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 256px;

    mix-blend-mode: overlay;
    user-select: none;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s forwards;
  }
  .animate-fade-out {
    animation: fadeOut cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s forwards;
  }
}

@keyframes fadeIn {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
